@import 'tailwindcss';

@theme {
  /* Colores personalizados */
  --color-primary: #1973f0;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101822;
  --color-card-light: #ffffff;
  --color-card-dark: #1e293b;

  /* Fuentes */
  --font-display: 'Inter', sans-serif;

  /* Border radius */
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;
}

/* Dark mode opcional */
@media (prefers-color-scheme: dark) {
  :root {
    /* Aquí puedes ajustar variables para modo oscuro si lo necesitas */
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
